<header>

    <div class="site-header">

        <div class="site-identity">
            <a href="#">
                <img src="/static/img/logo.png" alt="logo">
            </a>
            <h1>
                <a href="#">
                    eBipani
                </a>
            </h1>
        </div>

        <nav class="site-navigation">
            <ul class="nav">
                <li>
                    <a href="#">
                        Sell on Here
                    </a>
                </li>
                <li>
                    <a href="#">
                        Log in
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/static/img/cart.png" alt="Cart">
                    </a>
                </li>
            </ul>
        </nav>

        <div class="search">
            <input type="text" class="search-box" placeholder="search brand, product">
            <button class="search-btn">
                search
            </button>
        </div>

    </div>

    <div class="header-image-menu">

    </div>

</header>