<footer>
    <div class="site-footer">

        <div class="links-row">

            <div class="col">
                <h6>
                    ABOUT
                </h6>
                <ul>
                    <li>
                        <a href="">
                            Contact Us
                        </a>
                    </li>
                    <li>
                        <a href="">
                            About Us
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col">
                <h6>
                    HELP
                </h6>
                <ul>
                    <li>
                        <a href="">
                            How to Buy
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Shipping
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Cancellation & Refunds
                        </a>
                    </li>
                    <li>
                        <a href="">
                            FAQ
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col">
                <h6>
                    POLICY
                </h6>
                <ul>
                    <li>
                        <a href="">
                            Terms of Use
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Return Policy
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Privacy
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col">
                <h6>
                    FOLLOW US
                </h6>
                <div class="social-links">

                </div>
            </div>

        </div>

        <div class="row-2">

            <div class="payment-methods">
                <p>Payment methods</p>
                <img src="/static/img/bkash.png" alt="bKash">
            </div>

            <div class="copyright">
                <p>
                    © eBipani 2021
                </p>
            </div>

        </div>

    </div>
</footer>