{% extends 'sellerHome.html' %}
{% block content %}
<div>
    {% if data|length > 0 %}
        <div style="width: 350px;text-align: center;">
            <label style="color:rgb(21, 255, 0);font-style:bold;font-size: 28px;">
                    {{data.msg}}
            </label><br>
        </div>
    {% endif %}


    <h3> Add New Product </h3></br>
    <form method="POST" action="addProductfunc">
    {% csrf_token %}
        <div>
            <p> Category </p>
            <input type="text" placeholder="category name" name="catagory" required>
        </div><br>
        <div>
            <p> Sub Category </p>
            <input type="text" placeholder="sub category name" name="subcatagory" required>
        </div><br>
        <div>
            <p> Product Name </p>
            <input type="text" placeholder="product name" name="pName" required>
        </div><br>
        <div>
            <p> Unit Price </p>
            <input type="number" min="0" step="0.01" placeholder="unit price" name="price" required>
        </div><br>
        <div>
            <p> Units in Stock </p>
            <input type="number" min="1" placeholder="units in stock" name="stock" required>
        </div><br>
        <div>
            <p> Image </p>
            <input type="file" name="ïmage">
        </div><br>
        <div>
            <p> Description </p>
            <input type="text" placeholder="category name" name="description" required>
        </div><br>
        <div>
            <button type="submit">Add</button>
        </div>
    </form>
</div>
{% endblock content %}
