<header>
  <div class="site-header">
    <div class="site-identity">
      <a href="/eApp">
        <img src="/static/img/logo.png" alt="logo" />
      </a>
      <h1>
        <a href="/eApp"> eBipani </a>
      </h1>
    </div>

    <nav class="site-navigation">
      <ul class="nav">
        <li>
          <a href="/eApp/users/ssignin/"> Sell on Here </a>
        </li>
        <li>
          <a href="/eApp/users/csignin/"> Sign in </a>
        </li>
        <li>
          <a href="/eApp/users/login"> Log in </a>
        </li>
        <li>
          <a href="#">
            <img src="/static/img/cart.png" alt="Cart" />
          </a>
        </li>
      </ul>
    </nav>

    <div>
      <form action="/eApp/search/" method="get">
        <div class="search">
          <input
            type="text"
            class="search-box"
            placeholder="search brand, product"
            name="searchBox"
          />
          <button class="search-btn" name="searchBtn">search</button>
        </div>
      </form>
    </div>
  </div>

  <div class="header-image-menu"></div>
</header>
