{% extends 'base.html' %} {% block content %}
<div>
  {% for d in data %}
  <div>
    <img src="{{d.IMAGE}}" alt="product img" /><br />
    <li>Product Name : {{d.PRODUCT_NAME}}</li>
    <br />
    <li>Unit Price : {{d.UNIT_PRICE}}</li>
    <br />
    <li>Units in Stock : {{d.UNITS_IN_STOCK}}</li>
    <br />
  </div>
  <form
    action="/eApp/products/{{d.CATEGORY_NAME}}/{{d.PRODUCT_ID}}"
    method="GET"
    target="_blank"
  >
    <button type="submit">view</button>
  </form>
  {% endfor %}
</div>
{% endblock content%}
