<header>

    <div class="site-header">

        <div class="site-identity">
            <a href='/eApp/users/admin/'>
                <img src="/static/img/logo.png" alt="logo">
            </a>
            <h1>
                <a href="/eApp/users/admin/">
                    eBipani
                </a>
            </h1>
        </div>

        <nav class="site-navigation">
            <ul class="nav">
                <li>
                    <a href="">
                        {{request.session.email|cut:"@gmail.com"}}
                    </a>
                </li>
                <li>
                    <a href="/eApp/users/logout">
                        Log Out
                    </a>
                </li>
            </ul>
        </nav>

    </div>

</header>