{% extends 'adminBase.html' %}
{% block content %}
<div>
    <ul>
        <li>
            <a href="/eApp/users/admin/customers/">
                Customers
            </a>
        </li>
        <li>
            <a href="/eApp/users/admin/sellers/">
                Sellers
            </a>
        </li>
        <li>
            <a href="/eApp/users/admin/shippers/">
                Shippers
            </a>
        </li>
        <li>
            <a href="/eApp/users/admin/newAdmin/">
                Create Another Admin
            </a>
        </li>
    </ul>
</div>
{% endblock content %}